NEXT_PUBLIC_APP_URL=https://app-ladder.vercel.app
NEXT_PUBLIC_BASE_APP_ID=69d7aed0ec96f8d98e3ef333
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

FARCASTER_HEADER=TODO_WARPCAST_HEADER
FARCASTER_PAYLOAD=TODO_WARPCAST_PAYLOAD
FARCASTER_SIGNATURE=TODO_WARPCAST_SIGNATURE
